body{
	font-family: 'Source Code Pro', monospace;
	color: #1c1c1c;
}

h1,h2,h3{
	font-family: 'Source Code Pro', monospace;
	color: #000000;

}

.container {
	opacity: 0.0;
}

.botao{
	color: #000000;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #FFFFFF;
	font-size: .9em;
	border-radius: 3px;

}

.botaoTabuada{
	color: #000000;
	text-decoration: none;
	padding: 10px 10px;
	background-color: #42b25f;
	font-size: .9em;
	border-radius: 3px;

}

#enunciado{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 10px 10px 20px 20px;

}

#cabeçalhoTabuada a img{
	height: 20px;
	align-items: center;
}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #000000;
}

nav > a {
	text-decoration: none;
	color: #42b25f;
	font-weight: 800;
	font-size: 32px;
	font-family: 'Source Code Pro', monospace;
}
nav a:hover{
	color: #FFFFFF;
}
nav ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	padding: 0;
	width: 100%;
}

nav ul li{
	text-align: center;
	width: 100%;
}

nav ul li a{
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #FFFFFF;
}
nav ul li a:hover{
	color: #42b25f;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../img/agua.webp");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
}

header h2{
	font-weight: bold;
	font-size: 80px;
	color: #FFFFFF;
}

header p{
	margin-bottom: 2em;
	font-size: 40px;
	color: #FFFFFF;
	max-width: 1000px;
}

#cabeçalho{
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	text-align: center;
	align-items: center;

}

#cabeçalho img{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	max-width: 100px;
	max-height: 100px;

}


#cabeçalhoTabuada{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	max-width: 300px;
	color: #000000;
	text-align: center;
	align-items: center;
}

#cabeçalhoTabuada a{	
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	margin: 10px;
}

#respostas{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	max-width: 800px;
	color: #000000;
	text-align: center;
	align-items: center;
	margin: 0 auto;
}

#respostas div{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 10px;
	color: #000000;
	background-color: #42b25f;
	text-align: center;
	align-items: center;
}
/* */

#respostas h3{
	display: flex;
	flex-direction: column;
	align-items: center;
}

table{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 10px 0px;
	border-collapse: collapse;
	width: 100X;
}

table .titulos{
	color: #42b25f;
	text-align: center;
	text-transform: uppercase;
	text-decoration-style: bold;
}

td, th {
	border: 1px solid #dddddd;
  	text-align: center;
  	padding: 8px;
}
.content{display:flex; margin: auto;}

.rTable{width: 100%; text-align: center;}
    .rTable thead{background: black; font-weight: bold; color:#fff;}
    .rTable tbody tr:nth-child(2n){background: #ccc;}
    .rTable th , .rTable td{padding: 7px 0;}

#sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 10px 10px 20px 20px;
	background-color: #000000;
	color: #FFFFFF;
}

#sobre h2 {
	color: #FFFFFF;
}

#sobre p {
	margin-bottom: 2.5em;
	max-width: 1000px;
}

#jogos{
	display: flex;
	flex-direction: column;
	background-color: #42b25f;
	align-items: center;
	text-align: center;	
	padding: 10px 10px 20px 20px;
	color: #FFFFFF;
}

#jogos h2 {
	color: #000000;
}

#jogos p{
	margin-bottom: 2.5em;
	max-width: 1000px;
}

#jogos img{
    width:40px; /* you can use % */
    height:40px ;
}

#jogos div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}

#contato{
	display: flex;
	background-color: #FFFFFF;
	flex-direction: column;
	align-items: center;

}

.over{
	background-color: #42b25f;
	opacity: .2;
}

.botaoTabuada, .container{
	transition: 150ms;
}

footer{
	text-align: center;
	background-color: #000000;
	padding: 10px;
	color: #FFFFFF;
}

footer a {
	text-decoration: none;
	color: #42b25f;
}
footer a:hover{
	color: #FFFFFF;
}



@media screen and (min-width: 768px){

	nav{
		flex-direction: row;
		justify-content: space-around;
		max-width: 100%;
		padding: 0;
	}

	nav ul{
		flex-direction: row;
		width: 70%;
	}

	header{
		height: 600px;
		height: 60vh;
		justify-content: center;
	}

	#sobre{
		height: 250px;
		height: 30vh;
		justify-content: center;
		min-height: 250px;
	}

	#jogos{
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		max-width: 100%;
		margin: 0 auto;
	}

	#jogos h2{
		text-align: center;
		width: 100%;

	}
	#cabeçalhoTabuada{
		display: flex;
		max-width: 1000px;
		flex: 1;
	}
	#respostas div{
		display: flex;
		flex-wrap: wrap;
		max-width: 1000px;
		min-height: 60px;
		flex: 1;
	}


	#respostas h3{
		text-align: center;
		width: 100%;	
	}

	#jogos div{
		flex-grow: 1;
		flex-basis: 150px;
		padding: 0 10px;
	}

	#cabeçalho{
		height: 250px;
		height: 30vh;
		justify-content: center;
		min-height: 250px;
	}

}
@media screen and (max-width: 480px){
    .content{width: 94%;}

    .rTable thead{display:none;}
    .rTable tbody td{display: flex; flex-direction: column; }
}

@media only screen and (min-width: 1200px){
    .content{width:100%;}
    .rTable tbody tr td:nth-child(1){width:10%;}
    .rTable tbody tr td:nth-child(2){width:30%;}
    .rTable tbody tr td:nth-child(3){width:20%;}
    .rTable tbody tr td:nth-child(4){width:10%;}
    .rTable tbody tr td:nth-child(5){width:30%;}
}